<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <title>{{ title }} | Space Tourism</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/styles/style.css' | url }}">
</head>
<body>
  <header class="header">
    <a href="/" class="logo" aria-label="Home"><img src="/assets/shared/logo.svg" alt="Space Tours Co. Logo"></a>
    <div class="line"></div>
    {% comment %} https://www.11ty.dev/docs/plugins/navigation/ {% endcomment %}
    <button class="hamburger"><img class="hamburger__icon" src="/assets/shared/icon-hamburger.svg"></button>
    <nav class="nav" aria-label="Primary">
      <button class="close-btn"><img class="close-btn__icon" src="/assets/shared/icon-close.svg"></button>
      <ul class="nav__ul">
      {% assign navigation = collections.all | eleventyNavigation %}
      {% for entry in navigation %}
        <li class="nav__item">
          <a class="nav__link" {% if entry.url == page.url %}aria-current="page"{% endif %} href="{{ entry.url | url }}">{{ entry.title }}</a>
        </li>
      {% endfor %}
      </ul>
    </nav>
  </header>
  <main>
    {{ content | safe }}
  </main>
  <script src="{{ '/js/main.js' | url }}" defer></script>
</body>
</html>